// **** PALETTE **********************

// COLOR CUBE
$white : white;
$codGray : #101415;
$emperor: #505050;
$silverChalice: #b0b0b0;
$thunderBird: #ae1827;
$driftWood: #ae8652;
$funBlue: #1a50ae;
$havelockBlue: #509ae1;
$pizazz: #fb8d05;
$goldenrod: #ffcf6a;

// MEDIAN CUT
$ebb : #eae8e6;
$codGrayi : #191817;
$fint : #69625c;
$gunbsmoke : #88928f;
$kashmirBlue : #4f659a;


// MATERIAL DESIGN

$mediumCarmine : #ac4238;
$teak : #ae8d67;
$pickledBean : #65401e;
$mineShaft: #353333;
$starWhite : #e9dac4;

// BUTTONI FIX
$fluoGreen : #83c994;

// ****************************************