// **** PALETTE **********************

// COLOR CUBE
$white : white;
$codGray : #101415;
$emperor: #505050;
$silverChalice: #b0b0b0;
$thunderBird: #ae1827;
$driftWood: #409AD3;
$funBlue: #1a50ae;
$havelockBlue: #509ae1;
$pizazz: #fb8d05;
$goldenrod: #ffcf6a;

// MEDIAN CUT
$ebb : #eae8e6;
$codGrayi : #191817;
$fint : #69625c;
$gunbsmoke : #88928f;
$kashmirBlue : #4f659a;


// MATERIAL DESIGN

$mediumCarmine : #ac4238;
$teak : #ae8d67;
$pickledBean : #65401e;
$mineShaft: #353333;
$starWhite : #e9dac4;
$footerBottom : #161718;
// BUTTONI FIX
$fluoGreen : #20e751;

// BACKGROUND IMAGE

$bgMeetBarber : url(../../public/images/avadabarbers-about-introbackground.jpg);
$bgProdutcts : url(../../public/images/avadabarbers-reviewsbackground.jpg);
$bgShavingButter: url(../../public/images/avadabarbers-cta-background.jpg);

// ****************************************

// FONTSIZE

// Abril Fatface 400 Regular
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

// Lato
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');